.aboutPage {
//   //margin: 5rem auto;
//   padding: 0 20%;
//   display: flex;
//   //gap: 5rem;
//   //max-width: 90rem;
//   //width: 100%;
//     //height: 100vh;
//   align-items: center;
//   color: #fff;

align-items: center;
display: flex;
//justify-content: space-between;
width: 100%;
height: auto;
margin: 0 auto;
padding: 1% 20%;

  @media (max-width: 960px) {
    // display: grid;
    // grid-template-columns: 1fr;
    // text-align: center;
    //max-width: 49rem;
  }

  @media (max-width: 520px) {
    //max-width: 100%;
  }

  .container {
    //max-width: 133rem !important;
    //margin: 0 auto !important;
    //padding: 0 2.5rem !important;

    .aboutMain {
      //   width: 43rem;
      //   height: 43rem;

      //   @media (max-width: 960px) {
      //     margin: 0 auto;
      //   }
      //   @media (max-width: 520px) {
      //     width: 100%;
      //     height: auto;
      //   }

      display: flex;
      justify-content: space-around;
      gap: 2rem;

      .aboutMainImg {
        width: 42rem;
        height: 38rem;

        @media (max-width: 960px) {
        //   margin: 0 auto;
        }
        @media (max-width: 520px) {
        //   width: 100%;
        //   height: auto;
        }
      }

      .aboutMainText {
        display: flex;
        flex-direction: column;
        color: #fff;

        h3 {
          font-size: 2rem;
          font-weight: 500;
          margin-bottom: 1rem;
        }

        h2 {
          font-size: 3rem;
          line-height: 1.2;
        }

        p {
          font-size: 1.6rem;
          color: #706f7b;
          line-height: 1.5;
          margin-top: 2rem;
          margin-bottom: 2rem;
        }

        .aboutMainTextIcons {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 4rem;

          @media (max-width: 520px) {
            // grid-template-columns: 1fr;
            // margin: 0 auto;
            // gap: 0;
          }

          .aboutMainTextIconsBox {
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (max-width: 520px) {
              align-items: center;
            }

            .iconAbout {
              font-size: 5rem;
            }

            span {
              display: flex;
              align-items: center;
              text-align: center;
              gap: 1rem;

              @media (max-width: 520px) {
                // text-align: center;
                // flex-direction: column;
              }

              h4 {
                font-size: 3rem;
              }

              p {
                font-size: 1.4rem;
              }
            }
          }
        }
      }
    }
  }
}
