.containerTestimonals {
  padding: 6rem 3rem;
  margin-top: 8rem;
  background-color: #2d2d2d;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2d2d2d;

    .boxtitle {
      display: flex;
      flex-direction: column;
      text-align: center;
      max-width: 70rem;
      margin-bottom: 5rem;
      color: #fff;
      background-color: #2d2d2d;

      h4 {
        font-size: 1.6rem;
        font-weight: 500;
        background-color: #2d2d2d;
      }

      h2 {
        font-size: 2.8rem;
        margin: 1rem 1.4rem;
        background-color: #2d2d2d;
      }

      p {
        font-size: 1.2rem;
        line-height: 1.4;
        background-color: #2d2d2d;
      }
    }

    .boxTestimonals {
      display: flex;
      gap: 3rem;
      width: 100%;
      justify-content: center;
      background-color: #2d2d2d;

      .testimonal {
        background-color: white;
        box-shadow: 0 20px 40px 0 rgba(104, 121, 194, 30%);
        width: 44rem;
        padding: 4rem;
        position: relative;

        @media (max-width: 1000px) {
          width: 36rem;
          padding: 4rem 3rem;
        }

        p {
          background-color: white;
          font-size: 2rem;
          font-weight: 500;
          font-family: "Fira Code", monospace;

          @media (max-width: 1000px) {
            font-size: 1.5rem;
          }
        }

        .boxPerson {
          background-color: white;
          display: flex;

          .personId {
            width: 100%;
            display: flex;
            gap: 2rem;
            align-items: center;
            margin-top: 3rem;
            background-color: white;

            img {
              width: 6rem;
              height: 6rem;
              border-radius: 50%;
              background-color: white;

              @media (max-width: 1000px) {
                width: 5rem;
                height: 5rem;
              }
            }

            .infoPerson {
              width: 100%;
              display: flex;
              justify-content: space-between;
              background-color: white;

              .personName {
                background-color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h4 {
                  background-color: white;
                  font-size: 1.6rem;

                  @media (max-width: 1000px) {
                    font-size: 1.4rem;
                  }
                }

                p {
                  font-size: 1.4rem;
                  font-weight: 400;

                  @media (max-width: 1000px) {
                    font-size: 1.2rem;
                  }
                }
              }

              .icon {
                background-color: white;
                color: #6879c2;
                font-size: 4rem;

                @media (max-width: 500px) {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }

  .box-2 {
    @media (max-width: 1000px) {
      display: none;
    }
  }
}
