.containerHome {
    width: 100vh;
    
    .boxInfo {
        align-items: center;
        display: flex;
        
        //height: 100vh;
        //position: relative;
        width: 100%;

        .textInfo {
            //display: flex;
            //flex-direction: column;
            //margin-top: 5rem;
            //max-width: 50rem;
            z-index: 3;
        }
    }
}
