.containerBookGame {
  position: relative;
  background-color: #000;
  padding: 0 20%;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .boxForm {
    width: 50%;
    background-color: #fff;
    //background-image: url(/static/media/book-bg.6f629a1….png);
    //background-position: 50%;
    //background-repeat: no-repeat;
    //background-size: cover;
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 rgba(89, 108, 194, 0.767);
    color: #010103;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 2.5rem 4.5rem 3.5rem 5.5rem;
    position: relative;

    h2 {
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 1rem;
      font-family: "Fira Code", monospace;
    }

    p {
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
      padding: 1rem 1.4rem;
      margin-bottom: 1rem;
      border: 1px solid transparent;
      border-radius: 0.8rem;
      font-size: 1rem;
      font-weight: 500;
    }

    .formContent {
      align-items: center;

      .boxLabel {
        width: 100%;
        display: flex;
        flex-direction: column;

        label {
          display: flex;
          align-items: center;
          font-size: 1.4rem;
          font-weight: 600;
          margin-bottom: 1.2rem;
          font-family: "Fira Code", monospace;

          .iconGame {
            font-size: 2rem;
          }
        }

        select {
          border: 1px solid #6879c2;
          border-radius: 3px;
          color: #6879c2;
          font-size: 1rem;
          font-weight: 400;
          outline: none;
          padding: 0.5rem 0.5rem;
          margin-bottom: 2rem;
          font-family: "Fira Code", monospace;
        }
      }

      button {
        width: 100%;
        align-self: self-end;
        background-color: #6879c2;
        border: none;
        box-shadow: 0 10px 15px rgba(104, 121, 194, 0.35);
        cursor: pointer;
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
        padding: 0.6rem;
        transition: all 0.3s;
      }
    }
  }

  .gameImage {
    width: 40%;
  }
}
